.video
  %video
.share
  .m-share.as-facebook
    .m-share--icon
      =image_tag('facebook.png')
    .m-share--text
      share
  .m-share.as-twitter
    .m-share--icon
      =image_tag('twitter.png')
    .m-share--text
      tweet
